In [2]:
import pandas as pd

# Gutenberg dataset

### https://huggingface.co/datasets/google-research-datasets/poem_sentiment

In [11]:
test = pd.read_parquet('data/test-00000-of-00001.parquet', engine='pyarrow').set_index('id')
train = pd.read_parquet('data/train-00000-of-00001.parquet', engine='pyarrow').set_index('id')
valid = pd.read_parquet('data/validation-00000-of-00001.parquet', engine='pyarrow').set_index('id')

all_df = pd.concat([test, train, valid])

In [12]:
# label: The sentiment label. Here
# 0 = negative
# 1 = positive
# 2 = no impact

all_df

                                            verse_text  label
id
0                        my canoe to make more steady,      2
1    and be glad in the summer morning when the kin...      1
2         and when they reached the strait symplegades      2
3                               she sought for flowers      2
4                         if they are hungry, paradise      2
..                                                 ...    ...
100           said my companion, 'i will show you soon      2
101                                       but god said      2
102                            but if thou do thy best      2
103  so generous to me. farewell, friend, since friend      1
104     let me all risk, and leave the deep heart dumb      0

[1101 rows x 2 columns]

In [1]:
all_df.rename(columns = {"verse_text": "TEXT"})

NameError: name 'all_df' is not defined

# English PCD

In [ ]:
pcd_df = pd.read_csv('data/english_PCD/merged_data.csv', index_col = 0)

In [ ]:
pcd_df.rename(columns = {"Verse": "TEXT"})

# Poki dataset

### https://github.com/whipson/PoKi-Poems-by-Kids/tree/master

In [3]:
poki_df = pd.read_csv('data/poki/poki.csv')

In [5]:
poki_df.rename(columns = {'text': 'TEXT'})

,id,title,author,grade,TEXT,char
0,104987,I Love The Zoo,NaN,1,"roses are red, violets are blue. i love the...",62
1,67185,The scary forest.,NaN,1,the forest is really haunted. i believe it to...,87
2,103555,A Hike At School,1st grade-wh,1,i took a hike at school today and this is wha...,324
3,112483,Computer,a,1,you can do what you want you can play a...,106
4,74516,Angel,aab,1,angel oh angle you spin like a top angel oh an...,164
...,...,...,...,...,...,...
61503,116016,Arrival,zane,12,i hate when i arrive to things so late whethe...,566
61504,31414,To all the Poets,zechariah,12,your works of poetry enspire within my heart a...,440
61505,31412,The summer meadows,zechariah,12,in the summer walking through the polder i bre...,341
61506,73996,Computer,zoe,12,my computer's very neat it's got cool colours ...,66
61507,83668,I say,zz,12,"i say hi, you say lie, then we say bye.",44

# PERC (Poem Emotion Recognition Corpus)

### https://data.mendeley.com/datasets/n9vbc8g9cx/1

In [6]:
perc_df = pd.read_csv('data/perc/PERC_mendelly.csv')

In [8]:
perc_df

                                                  Poem Emotion
0    A Tree\nA tree beside the sandy river-beach \n...     sad
1    Sri Krishna\n\nO immense Light and thou, O spi...    love
2    Who\n\n\nIn the blue of the sky, in the green ...   peace
3    Revelation\n\n\nSomeone leaping from the rocks...     sad
4    The Silver Call\n\n\nThere is a godhead of unr...     joy
..                                                 ...     ...
711  Daughter Taken By Mothers Lies\n\nHave you any...     sad
712  Involuntary Acceptance\n\nEven though\nWe’re f...     sad
713  Victim Of Poverty\n\nPoverty stricken youth ju...     sad
714  Rain\n\nI sit and watch\nas the rain falls \nf...     sad
715  The Face Of Sadness\n\nIts happened again.\n\n...     sad

[716 rows x 2 columns]

In [9]:
perc_df.rename(columns = {'Poem': 'TEXT'})

                                                  TEXT Emotion
0    A Tree\nA tree beside the sandy river-beach \n...     sad
1    Sri Krishna\n\nO immense Light and thou, O spi...    love
2    Who\n\n\nIn the blue of the sky, in the green ...   peace
3    Revelation\n\n\nSomeone leaping from the rocks...     sad
4    The Silver Call\n\n\nThere is a godhead of unr...     joy
..                                                 ...     ...
711  Daughter Taken By Mothers Lies\n\nHave you any...     sad
712  Involuntary Acceptance\n\nEven though\nWe’re f...     sad
713  Victim Of Poverty\n\nPoverty stricken youth ju...     sad
714  Rain\n\nI sit and watch\nas the rain falls \nf...     sad
715  The Face Of Sadness\n\nIts happened again.\n\n...     sad

[716 rows x 2 columns]

# Poetry Foundation

### https://www.kaggle.com/datasets/tgdivy/poetry-foundation-poems

In [10]:
poetry_foundation_df = pd.read_csv('data/poetry_foundation/PoetryFoundationData.csv')

In [11]:
poetry_foundation_df

,Unnamed: 0,Title,Poem,Poet,Tags
0,0,\r\r\n Objects Used to Prop...,"\r\r\nDog bone, stapler,\r\r\ncribbage board, ...",Michelle Menting,NaN
1,1,\r\r\n The New Church\r\r\n...,"\r\r\nThe old cupola glinted above the clouds,...",Lucia Cherciu,NaN
2,2,\r\r\n Look for Me\r\r\n ...,\r\r\nLook for me under the hood\r\r\nof that ...,Ted Kooser,NaN
3,3,\r\r\n Wild Life\r\r\n ...,"\r\r\nBehind the silo, the Mother Rabbit\r\r\n...",Grace Cavalieri,NaN
4,4,\r\r\n Umbrella\r\r\n ...,\r\r\nWhen I push your button\r\r\nyou fly off...,Connie Wanek,NaN
...,...,...,...,...,...
13849,13,\r\r\n 1-800-FEAR\r\r\n ...,\r\r\nWe'd like to talk with you about ...,Jody Gladding,"Living,Social Commentaries,Popular Culture"
13850,14,\r\r\n The Death of Atahual...,\r\r\n\r\r\n,William Jay Smith,NaN
13851,15,\r\r\n Poet's Wish\r\r\n ...,\r\r\n\r\r\n,William Jay Smith,NaN
13852,0,\r\r\n 0\r\r\n,\r\r\n Philosophic\r\r\nin its comple...,Hailey Leithauser,"Arts & Sciences,Philosophy"
13853,1,\r\r\n !\r\r\n,"\r\r\nDear Writers, I’m compiling the first in...",Wendy Videlock,"Relationships,Gay, Lesbian, Queer,Arts & Scien..."