In [14]:
import pandas as pd

# Gutenberg dataset

### https://huggingface.co/datasets/google-research-datasets/poem_sentiment

In [16]:
test = pd.read_parquet('data/gutenberg/test-00000-of-00001.parquet', engine='pyarrow').set_index('id')
train = pd.read_parquet('data/gutenberg/train-00000-of-00001.parquet', engine='pyarrow').set_index('id')
valid = pd.read_parquet('data/gutenberg/validation-00000-of-00001.parquet', engine='pyarrow').set_index('id')

all_df = pd.concat([test, train, valid])

In [21]:
all_df.rename(columns = {"verse_text": "TEXT"}, inplace = True)

In [22]:
# label: The sentiment label. Here
# 0 = negative
# 1 = positive
# 2 = no impact

all_df

                                                  TEXT  label
id
0                        my canoe to make more steady,      2
1    and be glad in the summer morning when the kin...      1
2         and when they reached the strait symplegades      2
3                               she sought for flowers      2
4                         if they are hungry, paradise      2
..                                                 ...    ...
100           said my companion, 'i will show you soon      2
101                                       but god said      2
102                            but if thou do thy best      2
103  so generous to me. farewell, friend, since friend      1
104     let me all risk, and leave the deep heart dumb      0

[1101 rows x 2 columns]

# English PCD

In [19]:
pcd_df = pd.read_csv('data/english_PCD/merged_data.csv', index_col = 0)

In [23]:
pcd_df.rename(columns = {"Verse": "TEXT"}, inplace = True)

In [24]:
pcd_df

                                                     TEXT   Meter  char_count
0               ah why this boding start this sudden pain  iambic           6
1        that wings my pulse and shoots from vein to vein  iambic           6
2               what mean regardless of yon midnight bell  iambic           6
3          these earthborn visions saddening o'er my cell  iambic           6
4       what strange disorder prompts these thoughts t...  iambic           6
...                                                   ...     ...         ...
202272                  were mellow music matchd with him  iambic           6
202274                     o life as futile then as frail  iambic           6
202275                o for thy voice to soothe and bless  iambic           6
202276                     what hope of answer or redress  iambic           6
202277                    behind the veil behind the veil  iambic           6

[199002 rows x 3 columns]

# Poki dataset

### https://github.com/whipson/PoKi-Poems-by-Kids/tree/master

In [27]:
poki_df = pd.read_csv('data/poki/poki.csv')

In [28]:
poki_df.rename(columns = {'text': 'TEXT'}, inplace = True)

# PERC Poem Emotion Recognition Corpus

### https://data.mendeley.com/datasets/n9vbc8g9cx/1

In [29]:
perc_df = pd.read_csv('data/perc/PERC_mendelly.csv')

In [33]:
perc_df.rename(columns = {'Poem': 'TEXT'}, inplace = True)

In [34]:
perc_df

                                                  TEXT Emotion
0    A Tree\nA tree beside the sandy river-beach \n...     sad
1    Sri Krishna\n\nO immense Light and thou, O spi...    love
2    Who\n\n\nIn the blue of the sky, in the green ...   peace
3    Revelation\n\n\nSomeone leaping from the rocks...     sad
4    The Silver Call\n\n\nThere is a godhead of unr...     joy
..                                                 ...     ...
711  Daughter Taken By Mothers Lies\n\nHave you any...     sad
712  Involuntary Acceptance\n\nEven though\nWe’re f...     sad
713  Victim Of Poverty\n\nPoverty stricken youth ju...     sad
714  Rain\n\nI sit and watch\nas the rain falls \nf...     sad
715  The Face Of Sadness\n\nIts happened again.\n\n...     sad

[716 rows x 2 columns]

# Poetry Foundation

### https://www.kaggle.com/datasets/tgdivy/poetry-foundation-poems

In [35]:
poetry_foundation_df = pd.read_csv('data/poetry_foundation/PoetryFoundationData.csv', index_col = 0)

In [36]:
poetry_foundation_df.rename(columns = {'Poem': 'TEXT'}, inplace = True)

In [37]:
poetry_foundation_df

,Title,TEXT,Poet,Tags
0,\r\n\r\n Objects Used to Pr...,"\r\n\r\nDog bone, stapler,\r\n\r\ncribbage boa...",Michelle Menting,NaN
1,\r\n\r\n The New Church\r\n...,\r\n\r\nThe old cupola glinted above the cloud...,Lucia Cherciu,NaN
2,\r\n\r\n Look for Me\r\n\r\...,\r\n\r\nLook for me under the hood\r\n\r\nof t...,Ted Kooser,NaN
3,\r\n\r\n Wild Life\r\n\r\n ...,"\r\n\r\nBehind the silo, the Mother Rabbit\r\n...",Grace Cavalieri,NaN
4,\r\n\r\n Umbrella\r\n\r\n ...,\r\n\r\nWhen I push your button\r\n\r\nyou fly...,Connie Wanek,NaN
...,...,...,...,...
13,\r\n\r\n 1-800-FEAR\r\n\r\n...,\r\n\r\nWe'd like to talk with you about...,Jody Gladding,"Living,Social Commentaries,Popular Culture"
14,\r\n\r\n The Death of Atahu...,\r\n\r\n\r\n\r\n,William Jay Smith,NaN
15,\r\n\r\n Poet's Wish\r\n\r\...,\r\n\r\n\r\n\r\n,William Jay Smith,NaN
0,\r\n\r\n 0\r\n\r\n ...,\r\n\r\n Philosophic\r\n\r\nin its co...,Hailey Leithauser,"Arts & Sciences,Philosophy"
1,\r\n\r\n !\r\n\r\n ...,"\r\n\r\nDear Writers, I’m compiling the first ...",Wendy Videlock,"Relationships,Gay, Lesbian, Queer,Arts & Scien..."

In [42]:
import regex as re
re.sub(poetry_foundation_df['TEXT'].iloc[0], '(\\[nr])+', '')

ModuleNotFoundError: No module named 'regex'

In [39]:
'Who\n\n\nIn the blue of the sky, in the green'.

'Who\n\n\nIn the blue of the sky, in the green'